/* Review.css */

.review-container {
  padding: 20px;
  font-family: Arial, sans-serif;
  max-width: 1200px;
  margin: 0 auto;
}

.movie-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.movie-poster {
  width: 250px;
  height: auto;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.movie-info {
  text-align: center;
  max-width: 600px;
}

.movie-info h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.movie-info p {
  font-size: 18px;
  line-height: 1.6;
  margin: 5px 0;
  color: #f1ebeb;
}

.extras {
  margin-bottom: 30px;
}

h2 {
  font-size: 24px;
  margin-bottom: 15px;
  color: #333;
  text-align: center;
  font-weight: bold;
}

.cast-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;  
  justify-content: center;
}

.cast-item {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  margin-right: 20px;
}

.cast-photo {
  width: 50px;
  height: 75px;
  object-fit: cover;
  margin-right: 15px;
  border-radius: 5px;
}

.no-photo {
  width: 50px;
  height: 75px;
  background-color: #ddd;
  text-align: center;
  line-height: 75px;
  color: #666;
  border-radius: 5px;
}

.cast-details {
  flex: 1;
}

.cast-name {
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

.cast-character {
  font-size: 14px;
  color: #777;
}

.photos {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  justify-content: center;
}

.photos img {
  width: 200px;
  height: 120px;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.video-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.video-list li {
  margin-bottom: 20px;
  text-align: center;
}

.video-thumbnail {
  width: 200px;
  height: 113px;
  object-fit: cover;
  border-radius: 8px;
  margin-right: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.video-list a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
}

.video-list p {
  font-size: 16px;
  margin-left: 15px;
  color: #f1f1f1;
}

.back-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  display: block;
  margin: 30px auto;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.back-button:hover {
  background-color: #0056b3;
}
